<nav class="navbar navbar-expand-md navbar-lewagon">
  <div class="container-fluid">
    <i>
      <%= link_to "", lists_path, class: "fa-solid fa-film navbar-brand" %>
    </i>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarContent">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <%= link_to "My Lists", lists_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "New List", new_list_path, class: "nav-link" %>
        </li>
      </ul>
    </div>
  </div>
</nav>
